In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Upernavik,GL,2020-11-05 15:16:46,72.79,-56.15,9.93,94,77,3.56
1,1,Khash,IR,2020-11-05 15:16:46,28.22,61.22,55.38,29,0,5.75
2,2,Quelimane,MZ,2020-11-05 15:16:46,-17.88,36.89,87.01,66,0,16.11
3,3,Kaitangata,NZ,2020-11-05 15:16:46,-46.28,169.85,48.99,96,100,1.99
4,4,Namatanai,PG,2020-11-05 15:16:46,-3.67,152.43,80.55,79,96,5.59